@import "tailwindcss";


.Inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
.Inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.Inter-extrabold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}
.scroll-verticallyUp {
  animation: scrollUp 12s linear infinite;
}
@media (min-width: 1024px) {
  .heading-lg {
    line-height: 7.2rem;
  }
}
@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@config "../../tailwind.config.js"
