@import "tailwindcss";


.Inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
.Inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
.Inter-extrabold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}
.scroll-verticallyUp {
  animation: scrollUp 12s linear infinite;
}
@media (min-width: 1024px) {
  .heading-lg {
    line-height: 7.2rem;
  }
}
@media (min-width: 1024px) {
  .heading-lg2 {
    line-height: 5rem;
  }
}
@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.rotate-animation {
  animation: rotate360def 16s linear infinite;
}
@keyframes rotate360def {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-animation2 {
  animation: rotate360def2 12s linear infinite;
}
@keyframes rotate360def2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation3 {
  animation: rotate360def3 4s linear infinite;
  animation-direction: reverse;
}
@keyframes rotate360def3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.gradient-border {
  border: 40px solid transparent;
  border-radius: 9999px; /* fully rounded */
  background: linear-gradient(135deg, #fb923c, #ec4899, #fde68a) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@config "../../tailwind.config.js"
